@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin itemTypography($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  text-decoration: none;
}

@mixin itemPosition($values) {
  position: $values;
  top: 0;
  left: 0;
}
