<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__text">Cafe</p>
                <ul class="contacts-content">
                    <li class="contacts-content__item">
                        <h3 class="contacts-content__title">Chicago</h3>
                        <a class="contacts-content__link" href="" target="_blank" rel="noopener noreferrer">
                            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                        </a>
                    </li>
                    <li class="contacts-content__item">
                        <h4 class="contacts-content__title">Monday - Friday</h4>
                        <p class="contacts-content__text">06:00 AM - 10:00 PM</p>

                        <h4 class="contacts-content__title">Saturday - Sunday</h4>
                        <p class="contacts-content__text">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-content__item">
                        <a class="contacts-content__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>

                        <a class="contacts-content__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__text contacts__text--current">Food Truck</p>
                <ul class="contacts-content">
                    <li class="contacts-content__item">
                        <h3 class="contacts-content__title">Los Angeles</h3>
                        <a class="contacts-content__link" href="" target="_blank" rel="noopener noreferrer">
                            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                        </a>
                    </li>
                    <li class="contacts-content__item">
                        <h4 class="contacts-content__title">Monday - Friday</h4>
                        <p class="contacts-content__text">06:00 AM - 10:00 PM</p>

                        <h4 class="contacts-content__title">Saturday - Sunday</h4>
                        <p class="contacts-content__text">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-content__item">
                        <a class="contacts-content__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>

                        <a class="contacts-content__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__text">Cafe</p>
                <ul class="contacts-content">
                    <li class="contacts-content__item">
                        <h3 class="contacts-content__title">New York</h3>
                        <a class="contacts-content__link" href="" target="_blank" rel="noopener noreferrer">
                            726 Sterling Pl, Brooklyn, NY 11222, USA
                        </a>
                    </li>
                    <li class="contacts-content__item">
                        <h4 class="contacts-content__title">Monday - Friday</h4>
                        <p class="contacts-content__text">06:00 AM - 10:00 PM</p>

                        <h4 class="contacts-content__title">Saturday - Sunday</h4>
                        <p class="contacts-content__text">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-content__item">
                        <a class="contacts-content__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>

                        <a class="contacts-content__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item--button">
                <button class="contacts__button" type="submit">
                    Our Locations<svg class="contacts__icon" width="8" height="10">
                        <use href="./images/icon.svg#vector-i" />
                    </svg>
                </button>
                <button class="contacts__button--active" type="submit">
                    Franchise<svg class="contacts__icon--active" width="8" height="10">
                        <use href="./images/icon.svg#vector-i" />
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>