<footer> <div class="container">
    <p>homemade ice cream made<span>with passion</span></p>
    <ul class="social">
        <li>
            <a href="">
                <svg width="20" height="20">
                    <use href="./images/icon.svg#git-hub" />
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg width="20" height="20">
                    <use href="./images/icon.svg#telegram-i" />
                </svg>
            </a>
        </li>
        <li>
            <a href="">
                <svg width="20" height="20">
                    <use href="./images/icon.svg#facebook"/>
                </svg>
            </a>
        </li>
    </ul>
    <a href="tel:+61(0)383766284"><span>Free to contact</span> +61 (0) 383 766 284</a>
    <div><p>© 2022 - IceCream. All Rights Reserved.</p></div>
</div>
</footer>