<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title--hidden">Gallery</h2>
    <picture>
      <source
        srcset="
          ./images/gallery/gallery-1013.png    1x,
          ./images/gallery/gallery-1013-2x.png 2x
        "
        type="image/png"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-704.png    1x,
          ./images/gallery/gallery-704-2x.png 2x
        "
        type="image/png"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-279.png    1x,
          ./images/gallery/gallery-279-2x.png 2x
        "
        type="image/png"
        media="(max-width:768px)"
      />
      <img
        class="gallery__picture"
        src="./images/gallery/gallery-279.png"
        alt="icecreams"
      />
    </picture>
  </div>
</section>
