<section class="gallery">
  <div class="gallery__container container">
    <picture>
      <source
        srcset="./images/gallery-1013.png 1x, ./images/gallery-1013-2x.png 2x"
        type="image/png"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/gallery-704.png 1x, ./images/gallery-704-2x.png 2x"
        type="image/png"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/gallery-279.png 1x, ./images/gallery-279-2x.png 2x"
        type="image/png"
        media="(max-width:768px)"
      />
      <img
        class="gallery__picture"
        src="./images/gallery-279.png"
        alt="icecreams"
      />
    </picture>
  </div>
</section>
