<header class="header">
  <div class="container">
    <a class="logo" href="">
      <img class="logo__img" src="./images/logo.png" alt="logo company" />
    </a>

    <button class="menu-btn" type="button">
      <svg class="menu-btn__icon" aria-label="menu">
        <use class="menu-btn__menu" href="./images/icon.svg#burger"></use>
        <use class="menu-btn__close" href="./images/icon.svg#close"></use>
      </svg>
    </button>

    <div class="mobile-menu">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#part1">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#part2">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#part3">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#part4">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#part5">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="header__btn" type="button">
        Buy now
        <svg class="header__icon">
          <use href="./images/icon.svg#btnbig"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
