<header class="page-header">
  <div class="container page-header__container">
    <a class="logo" href="./index.html">
      <img class="logo__img" src="./images/logo.png" alt="logo company" />
    </a>

    <div class="page-header__box">
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg class="menu-btn__icon" aria-label="menu" width="30" height="30">
          <use class="menu-btn__menu" href="./images/icon.svg#burger"></use>
          <use class="menu-btn__close" href="./images/icon.svg#close"></use>
        </svg>
      </button>

      <div class="mobile-menu" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#part1">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part2">About us</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part3">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part4">Our products</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part5">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <button class="page-header__btn" type="button" ph-btn data-modal-open>
        Buy now
        <svg class="page-header__icon" width="20" height="12">
          <use href="./images/icon.svg#btnbig"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal>
    <form class="modal">
      <button class="button-close" data-modal-close>
        <svg class="button-close__icon">
          <use href="./images/icon.svg#close"></use>
        </svg>
      </button>

      <h2 class="modal__title">Leave your details, we will call you back</h2>

      <label class="modal__field">
        <span class="modal__label">Name</span>
        <div class="modal__textfield">
          <input class="modal__input" name="name" type="text" />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/icon.svg#person"></use>
          </svg>
        </div>
      </label>

      <label class="modal__field">
        <span class="modal__label">Phone</span>
        <div class="modal__textfield">
          <input class="modal__input" name="tel" type="tel" />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/icon.svg#phone"></use>
          </svg>
        </div>
      </label>

      <label class="modal__field">
        <span class="modal__label">Mail</span>
        <div class="modal__textfield">
          <input class="modal__input" name="mail" type="email" />
          <svg class="modal__icon" width="18" height="18">
            <use href="./images/icon.svg#email"></use>
          </svg>
        </div>
      </label>

      <label class="modal__field">
        <span class="modal__label">Comment</span>
        <textarea
          class="modal__comment"
          name="comment"
          placeholder="Enter the text"
        ></textarea>
      </label>

      <button class="send__button page-header__btn" type="submit">
        Send
        <svg class="send__icon" width="18" height="18">
          <use href="./images/icon.svg#send"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
