<header class="page-header">
  <div class="container page-header__container">
    <a class="logo" href="./index.html">
      <img class="logo__img" src="./images/logo.png" alt="logo company" />
    </a>

    <div class="page-header__box">
      <button
        class="menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg class="menu-btn__icon" aria-label="menu" width="30" height="30">
          <use class="menu-btn__menu" href="./images/icon.svg#burger"></use>
          <use class="menu-btn__close" href="./images/icon.svg#close"></use>
        </svg>
      </button>

      <div class="mobile-menu" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#part1">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part2">About us</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part3">How it’s made?</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part4">Our products</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#part5" target="_parent">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <button class="page-header__btn" type="button" ph-btn>
        Buy now
        <svg class="page-header__icon" width="20" height="12">
          <use href="./images/icon.svg#btnbig"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
