<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream made with <span class="hero__title--more">passion</span> </h1>

        <ul class="buttton">
            <li class="buttton__product"> <a href="#">Products</a> </li>
            <li class="buttton__made"> <a href="#">How it’s made?</a> </li>
        </ul>
        
        <img class="hero__img" src="./images/hero/mobile/smile1x.png" alt=""> 
        <img class="hero__bkg" src="./images/hero/frame1xmobile.png" alt="">

        <!-- <img src="./images/hero/iced.jpg" alt="">

        <p>Lorem ipsu   m dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        
        <a href="">
            <svg width="40" height="40">
                    <use href="./images/icon.svg#icon-arrowhero"></use>
            </svg>
        </a> -->

       <!-- 
        <div>
            <svg width="55" height="77">
                <use href="./images/icon.svg#icon-cafe"></use>
            </svg>
            <svg width="79" height="77">
                <use href="./images/icon.svg#icon-food"></use>
            </svg>
        </div> -->
    </div>
</section>