<section class="products">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item ice-cream">
        <h3 class="products__item--title">ice cream</h3>
        <p class="products__item--text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <a class="products__item--link" href="#">
          <svg class="products__icon" width="40">
            <use href="/src/images/icon.svg#icon-Arrow" />
          </svg>
        </a>
      </li>
      <li class="products__item ice-coffee">
        <h3 class="products__item--title">ice coffee</h3>
        <p class="products__item--text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a class="products__item--link" href="#">
          <svg class="products__icon" width="40">
            <use href="/src/images/icon.svg#icon-Arrow" />
          </svg>
        </a>
      </li>
      <li class="products__item milkshakes">
        <h3 class="products__item--title">milkshakes</h3>
        <p class="products__item--text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <a class="products__item--link" href="#">
          <svg class="products__icon" width="40">
            <use href="/src/images/icon.svg#icon-Arrow" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
