<section class="reviews">
  <div class="reviews__container container">
    <div class="reviews__slider">
      <div class="slide">
        <div class="reviews__box">
          <img
            class="reviews__icon"
            src="./images/client.png"
            alt="client photo"
          />
          <div class="reviews__client reviews__client--first">
            <p>
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <span class="reviews__name">Emily, Los Angeles</span>
        </div>
      </div>
      <div class="slide">
        <div class="reviews__box">
          <img
            class="reviews__icon"
            src="./images/client.png"
            alt="client photo"
          />
          <div class="reviews__client reviews__client--first">
            <p>
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <span class="reviews__name">Emily, Los Angeles</span>
        </div>
      </div>
      <div class="slide">
        <div class="reviews__box">
          <img
            class="reviews__icon"
            src="./images/client.png"
            alt="client photo"
          />
          <div class="reviews__client reviews__client--first">
            <p>
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <span class="reviews__name">Emily, Los Angeles</span>
        </div>
      </div>
    </div>
  </div>
</section>
