.about {
  padding-top: 60px;
}

.about__text {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
  @media screen and(min-width: $tablet) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width: $desktop) {
    font-size: 30px;
  }
}

.about__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 54px;
  @media screen and(min-width: $tablet) {
    font-size: 34px;
    letter-spacing: 0.06em;
    margin-bottom: 66px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 36px;
    margin-bottom: 121px;
  }
}

.about__img {
  border-radius: 50%;
  box-shadow: 0px -22px #efd478, 0px -15px 20px 10px #43434329;
  margin-bottom: 40px;
  width: 278.19px;
  height: 278.19px;
  @media screen and(min-width: $tablet) {
    box-shadow: 0 -26px #efd478, 0px -20px 20px 10px #43434329;
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }
  @media screen and(min-width: $desktop) {
    box-shadow: 0 -39px #efd478, 0px -20px 20px 10px #43434329;
    width: 490px;
    height: 490px;
  }
}
.about__desc {
  width: 220px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  @media screen and(min-width: $tablet) {
    width: 334px;
    margin-bottom: 14px;
  }
  @media screen and(min-width: $desktop) {
    width: 463px;
  }
}

.about__desc--tab {
  display: none;
  @media screen and(min-width: $tablet) {
    width: 334px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width: $desktop) {
    width: 463px;
    font-size: 14px;
  }
}

.about__btn {
  margin-top: 20px;
  display: inline-flex;
  width: 176px;
  height: 44px;
  background: #f8d24e;
  border-radius: 10px;
  border: transparent;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  padding: 0 37px;
  justify-content: center;
  align-items: center;
  @media screen and(min-width: $tablet) {
    padding: 12px 34px;
    margin-top: 40px;
  }
}
.about__icon {
  margin-left: 14px;
}

.card {
  @media screen and(min-width: $tablet) {
    display: flex;
  }
}

.about__box {
  @media screen and(min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-left: 36px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 67px;
    margin-left: 108px;
  }
}
