.about {
  padding-top: 60px;
}
.container.position {
  position: relative;
}
.about__text {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
  @media screen and(min-width: $tablet) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width: $desktop) {
    font-size: 30px;
  }
}

.about__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 54px;
  @media screen and(min-width: $tablet) {
    font-size: 34px;
    letter-spacing: 0.06em;
    margin-bottom: 80px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 36px;
    margin-bottom: 188px;
  }
}

.about__img {
  border-radius: 50%;
  box-shadow: 0px -22px #efd478, 0px -15px 20px 10px #43434329;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 278.19px;
  height: 278.19px;
  @media screen and(min-width: $tablet) {
    position: absolute;
    top: 147px;
    left: 34px;
    box-shadow: 0 -26px #efd478, 0px -20px 20px 10px #43434329;
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }
  @media screen and(min-width: $desktop) {
    box-shadow: 0 -39px #efd478, 0px -20px 20px 10px #43434329;
    top: 215px;
    left: 16px;
    width: 490px;
    height: 490px;
  }
}
.about__desc {
  width: 220px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  @media screen and(min-width: $tablet) {
    width: 334px;
    margin-bottom: 14px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 14px;
    width: 463px;
  }
}

.about__desc--tab {
  display: none;
  @media screen and(min-width: $tablet) {
    width: 334px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width: $desktop) {
    width: 463px;
    font-size: 14px;
  }
}

.about__btn {
  margin-top: 20px;
  display: inline-flex;
  background: #f8d24e;
  border-radius: 10px;
  border: transparent;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  padding: 12px 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: $tablet) {
    padding: 12px 34px;
    margin-top: 40px;
  }
  &:hover,
  &:focus {
    background-color: getColor(accent);
  }
  &:active {
    background-color: getColor(active);
  }
}
.about__icon {
  margin-left: 14px;
}

.card {
  @media screen and(min-width: $tablet) {
    justify-content: end;
  }
  @media screen and(min-width: $desktop) {
    right: 106px;
  }
}

.about__box {
  @media screen and(min-width: $tablet) {
    flex-direction: column;
    margin-left: 368px;
  }
  @media screen and(min-width: $desktop) {
    margin-left: 600px;
  }
}

.backdrop-about {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url(../images/reviews/icecream-bcg.png),
    linear-gradient(to bottom, #f5f5f5 24px, #f5f5f5 100%);
}
.backdrop-about__modals {
  width: 100%;

  @media screen and(min-width: $tablet) {
    width: 350px;
    min-height: 350px;
  }
  @media screen and(min-width: $desktop) {
    width: 450px;
    min-height: 450px;
  }
}
.backdrop-about.is-hidden-about {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-about.is-hidden-about .backdrop-about__modal {
  transform: translate(-50%, -50%);
}
.backdrop-about__button {
  @include centeredFlex;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 8px;
  transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: getColor(default);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: getColor(text-white);
    background-color: getColor(accent);
  }
}
.form-modal {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    @include itemTypography(700, 16px, 1.83);
    letter-spacing: 0.03em;
    margin: 0 auto 12px auto;
    color: getColor(text-black);
    text-align: center;
  }
}

.form-modal__icon {
  position: absolute;
  top: -5px;
  left: 12px;
  transform: translateY(160%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width:$tablet) {
    top: 0;
  }
}

.form-modal__text {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: black;
  @media screen and(min-width: $desktop) {
    font-size: 14px;
  }
}
.form-modal__text-more {
  display: none;
  font-size: 12px;
  @media screen and(min-width: $tablet) {
    margin-top: 0;
    display: block;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: black;
    margin-bottom: 14px;
    margin-bottom: 14px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 14px;
  }
}

.form-modal__button-about {
  cursor: pointer;
  position: relative;
  margin: auto;
  @include centeredFlex;
  text-align: center;
  background-color: #f8d24e;
  margin-top: 10px;
  border: 0ch;
  border-radius: 10px;

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: getColor(accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-modal__link {
  padding: 14px 36px;
}
