.advantages {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-widht:1200px) {
        padding-top: 32px;
        padding-bottom: 114px;
    }
}
.advantages__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.advantages__title {
    @extend %visually-hidden;
}
.advantages__list {
    @media screen and (max-width:768px) {
        max-width: 230px;}
    @media screen and (min-width:768px) {
        width: 520px;
        display: flex;
        justify-content: space-between;            
    }
    @media screen and (min-width:1200px) {
        width: 1090px;
        margin: 0 auto;
    }
}
.advantages__item {
    &::before {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
        background-repeat: no-repeat;
        @media screen and (min-width:768px) {margin-bottom: 32px;}
        @media screen and (min-width:1200px) { margin-bottom: 40px;}

        
    }

    &--cow::before {background-image: url(../images/icon-cow.png);}
    &--weight::before {background-image: url(../images/icon-weight.png);}
    &--ice::before {background-image: url(../images/icon-ice.png);}   

        @media screen and (min-width:768px) {
            margin-right: 32px;
        }
        @media screen and (min-width:1200px) {
            margin-right: 92px;
        }
}

.advantages__name {
    @include itemTypography(700, 36px, 1.16);
    margin-bottom: 28px;
    
    @media screen and (min-width:768px) {
        @include itemTypography(700, 48px, 1.22);
        margin-bottom: 16px;
    }
    @media screen and (min-widht:1200px) {           
        @include itemTypography(700, 58px, 1.22);
    }
}
.advantages__text {
    @include itemTypography(700, 12px, 1.7);
   
    @media screen and (max-width:767px) {
    .advantages__item:not(:last-child) & {
        margin-bottom: 30px;
    }}
    
    @media screen and (min-width:768px) {
        margin-bottom: 0;
        @include itemTypography(400, 14px, 1.74);
    }

    @media screen and (min-widht:1200px) {
        @include itemTypography(400, 16px, 1.76);
    }
}


