.visually-hidden {
  @extend %visually-hidden;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:$tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    margin: -8px;
  }
  @media screen and(min-width:$desktop) {
    margin: -16px;
  }
  @media screen and(max-width:$tablet) {
    margin-top: -60%;
  }

  @media screen and(min-width:$tablet) {
    margin-top: -45%;
  }

  @media screen and(min-width:$desktop) {
    margin-top: -15%;
  }
}
.contacts__item {
  background-color: getColor(text-white);
  width: 280px;
  padding: 40px 32px;
  margin-right: 0;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and(max-width:$tablet) {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  @media screen and(min-width:$tablet) {
    padding: 40px 40px 40px 24px;
    margin-top: 0;
    width: calc((100% - 6 * 8px) / 3);
    margin: 8px;
  }
  @media screen and(min-width:$desktop) {
    padding: 40px 40px;
    width: calc((100% - 6 * 16px) / 3);
    margin: 16px;
  }
}
.contacts__text {
  width: fit-content;
  background-color: getColor(default);
  color: getColor(text-primary);
  border-radius: 4px;
  @include itemTypography(500, 12px, 1.8);
  letter-spacing: 0.04em;
  @include centeredFlex();
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
    padding-left: 13px;
      padding-right: 13px;
  @media screen and(min-width:$tablet) {
    @include itemTypography(500, 16px, 1.87);
    color: getColor(text-black);
    margin-bottom: 32px;
  }
}
.contacts-map__title {
  color: getColor(text-secondory);
  @include itemTypography(500, 12px, 1.5);
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 8px;
  @media screen and(min-width:$tablet) {
    @include itemTypography(500, 14px, 1.86);
  }
  @media screen and(min-width:$desktop) {
    @include itemTypography(500, 16px, 1.87);
  }
}
.contacts-schedule__title {
  color: getColor(text-black);
  @include itemTypography(500, 12px, 1.5);
  margin: 0;
  @media screen and(min-width:$tablet) {
    @include itemTypography(500, 14px, 1.86);
  }

  @media screen and(min-width:$desktop) {
    @include itemTypography(500, 16px, 1.87);
  }
}
.contacts-map__link, .contacts-info__link {
  color: getColor(milkshakes);
  @include itemTypography(500, 12px, 1.5);
  letter-spacing: 0.04em;
  margin: 0;
  @media screen and(min-width:$tablet) {
    @include itemTypography(500, 14px, 1.83);
  }
  @media screen and(min-width:$desktop) {
    @include itemTypography(500, 16px, 1.83);
  }
}
.contacts-schedule__text {
  color: getColor(text-time);
  @include itemTypography(500, 12px, 1.5);
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and(min-width:$tablet) {
    @include itemTypography(500, 14px, 1.86);
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @media screen and(min-width:$desktop) {
    @include itemTypography(500, 16px, 1.86);
  }
}
.contacts-map:after {
  content: '';
  border: 1px solid #e1e1e1;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and(min-width:$tablet) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.contacts-schedule:after {
  content: '';
  border: 1px solid #e1e1e1;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;

  @media screen and(min-width:$tablet) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.contacts-content__button {
  @include itemTypography(500, 16px, 1.25);
  color: getColor(text-black);
  background-color: getColor(default);
  border: 0;
  border-radius: 10px;
  padding: 14px 17px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include centeredFlex();
  text-align: center;
  @media screen and(max-width:$tablet) {
    margin-bottom: 8px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width:$tablet) {
    margin-right: 16px;
    width: 192px;
    @include itemTypography(600, 14px, 1.2);
  }

  @media screen and(min-width:$desktop) {
    margin-right: 18px;
  }
  @extend %background-hover;
  @extend %background-active;
}
.contacts-content__button--active {
  @include itemTypography(700, 16px, 1.25);
  color: getColor(text-primary);
  background-color: transparent;
  border: 2px solid getColor(default);
  border-radius: 10px;
  padding: 12px 28px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include centeredFlex();
  text-align: center;
  @media screen and(max-width:$tablet) {
      margin-left: auto;
      margin-right: auto;
    }
  @media screen and(min-width:$tablet) {
    @include itemTypography(600, 14px, 1.2);
    width: 158px;
  }
  @extend %hover-border;
  @extend %active-border;
}
.contacts-content {
  @media screen and(min-width:$tablet) {
    @include centeredFlex();
    margin: 0 auto;
    margin-top: 60px;
  }
  @media screen and(min-width:$desktop) {
    margin-top: 80px;
  }
}
.contacts__icon {
  margin-left: 7px;
  fill: getColor(text-black);
}
.contacts__icon--active {
  margin-left: 12px;
  fill: getColor(text-primary);
}
.backdrop-cooperation {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  transform: translate(-50%, -50%);
    border-radius: 10px;
background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url(../images/reviews/icecream-bcg.png),
    linear-gradient(to bottom, #f5f5f5 24px, #f5f5f5 100%);
  &__modal-cooperation {
    width: 300px;
    height: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    @media screen and(min-width:$tablet) {
      width: 480px;
      height: 450px;
    }
  }
}

.backdrop-cooperation.is-hidden-cooperation {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-cooperation.is-hidden-cooperation .backdrop-cooperation__modal {
  transform: translate(-50%, -50%);
}
.backdrop-cooperation__button {
  @include centeredFlex;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 8px;
    transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: getColor(default);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    cursor: pointer;
  
    &:hover,
    &:focus {
      fill: getColor(text-white);
      background-color: getColor(accent);
    }
}
.form-modal {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    @include itemTypography(700, 16px, 1.83);
    letter-spacing: 0.03em;
    margin: 0 auto 12px auto;
    color: getColor(text-black);
    text-align: center;
  }
}
.form-modal__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-modal__label {
  @include itemTypography(700, 12px, 1.25);
  text-align: start;
  margin-top: 0;
  margin-bottom: 4px;
  color: getColor(text-black);
}
.form-modal__input {
  width: 250px;
  height: 30px;
padding-left: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend %hover-border;
  @extend %active-border;
  @media screen and(min-width:$tablet) {
    width: 400px;
    height: 40px;
  }
     &:hover ~ .form-modal__icon,
     &:focus ~ .form-modal__icon{
       fill: getColor(accent);
     }
}
.form-modal__textarea {
  width: 250px;
  height: 80px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend %hover-border;
  @extend %active-border;
  @media screen and(min-width:$tablet) {
    width: 400px;
    height: 120px;
    margin-bottom: 20px;
  }
  &::placeholder {
    @include itemTypography(500, 12px, 1.25);
    color: rgba(117, 117, 117, 0.5);
  }
}
.form-modal__input,
.form-modal__textarea {
  margin-top: 0;
  margin-bottom: 0;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__icon {
  position: absolute;
  top: -5px;
  left: 12px;
  transform: translateY(160%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width:$tablet) {
      top:0;
    }
}

.form-modal__button {
  cursor: pointer;
  position: relative;
        margin: auto;
        width: 140px;
        height: 42px;
    @include centeredFlex;
        text-align: center;
        color: getColor(text-black);
        background-color: getColor(default);
    margin-top: 10px;
        border: 0ch;
        border-radius: 10px;
        cursor: pointer;
    &:hover,
      &:focus {
        background-color: getColor(accent);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      }
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
        @media screen and (min-width: $tablet) {
      
          @include itemTypography(500, 16px, 1.25);
        }
    
        @media screen and (min-width: $desktop) {
        
          @include itemTypography(600, 14px, 1.29);
        }
}
    .form-modal__button > .form-modal__send {
      position: absolute;
      top: 48%;
      right: 24px;
      fill: currentColor;
      transform: translateY(-50%);
  margin-left: 5px;
      filter: drop-shadow(3px 5px 2px rgb(0, 0, 0, 0.4));
   }
.backdrop-map {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 10px;
background-color: getColor(text-white);
 @media screen and(max-width:$tablet) {
      width: 70%;
      height: 80%;
    }
  
    @media screen and(min-width:$tablet) {
      width: 70%;
      height: 90%;
    }
  &__modal-map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  
  }
}

.backdrop-map.is-hidden-map {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-map.is-hidden-map .backdrop-map__modal {
  transform: translate(-50%, -50%);
}

.backdrop-map__button {
  @include centeredFlex;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: 8px;
  transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 0;
      padding: 0;
      background-color: getColor(default);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 50%;
      cursor: pointer;
      &:hover,
      &:focus {
        fill: getColor(text-white);
        background-color: getColor(accent);
      }
    }

.backdrop-map__iframe{
  top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 20px;
      width: 90%;
      height: 75%;
    
}
.backdrop-map__title{
  margin: 0 auto;
    @include itemTypography(700, 11px, 1.8);
      letter-spacing: 0.03em;
      margin: 0 auto 12px auto;
      color: getColor(text-black);
      text-align: center;
      margin-bottom: 5px;
      @media screen and(min-width:$tablet){
        @include itemTypography(700, 16px, 1.83);
      }
}
    .backdrop__icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }