// .gallery {

// }
.gallery__container {
    position: relative;
    // height: 1230px; 
//    } 
.gallery__title--hidden {
    @extend %visually-hidden;}
}
.gallery__picture {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}




