.page-header {
  height: 50px;

  &__container {
    position: relative;
    @include centeredFlex();
    justify-content: space-between;

    height: 100%;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: none;

    @include itemTypography(600, 14px, 1.21);

    padding: 0;
    width: 150px;
    height: 42px;
    margin-left: 30px;

    color: getColor(text-black);
    background-color: getColor(default);

    border: 0ch;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: getColor(accent);
    }

    @media screen and (min-width: $tablet) {
      display: block;
    }

    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    height: 65px;
  }

  @media screen and (min-width: $desktop) {
    height: 80px;
  }
}

.logo {
  display: flex;
  width: 41px;
  height: 37px;
  z-index: 20;

  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 60px;
    height: 65px;
  }
}

.menu-btn {
  z-index: 12;
  display: inline-flex;

  padding: 0;

  background-color: transparent;
  border-radius: 5px;
  border: none;

  &__close {
    display: none;
  }

  &.is-open {
    .menu-btn__menu {
      display: none;
    }

    .menu-btn__close {
      display: block;
      cursor: pointer;
      fill: getColor(text-white);

      &:hover,
      &:focus {
        fill: getColor(accent);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.mobile-menu {
  @media screen and (max-width: $desktop) {
    @include itemPosition(fixed);
    width: 100vw;
    height: 100vh;
    z-index: 10;

    background-color: getColor(bg-body);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }

    & > .nav {
      @include itemPosition(fixed);
      width: 100vw;
      height: 100vh;
      background-color: getColor(bg-body);
      border-radius: 100%;

      overflow: auto;

      opacity: 0;
      transform: translateY(-100%);

      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.is-open .nav {
      opacity: 1;
      border-radius: 0;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 145px;
  }
}

.nav {
  &__list {
    padding: 85px 15px 15px;

    width: 100vw;
    height: 100vh;

    @media screen and (min-width: $tablet) {
      padding: 125px 15px 15px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      padding: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__item {
    padding: 16px 0;
    text-align: center;

    @media screen and (min-width: $tablet) {
      padding: 20px 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    @include itemTypography(700, 32px, 1.22);

    @media screen and (min-width: $desktop) {
      @include itemTypography(700, 16px, 1.25);
    }

    &:hover,
    &:focus {
      color: getColor(accent);
    }
  }
}
