.reviews {
    padding-top: 20px;
    padding-bottom: 20px;

        background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
        
            @media screen and (max-width: $tablet) {
                background-image: url(../images/reviews/icecream-bcg.png),
                    linear-gradient(to bottom, #84a178 24px, #f5f5f5 24px, #f5f5f5 100%);
        
                @media (min-resolurion: 2dppx) {
                    background-image: url(../images/reviews/icecream-bcg-2x.png);
                }
            }
        
            @media screen and (min-width:$tablet) {
                max-width: 100%;
                padding-top: 300px;
                padding-bottom: 350px;
                background-position: 0 150px, 0 0;
                background-size: contain;
                background-image: url(../images/reviews/icecream-bcg-tablet.png),
                    linear-gradient(to bottom, #84a178 150px, #f5f5f5 150px, #f5f5f5 100%);
        
                @media (min-resolurion: 2dppx) {
                    background-image: url(../images/reviews/icecream-bcg-tablet-2x.png);
                }
            }
        
            @media screen and (min-width:$desktop) {
                max-width: 100%;
                padding-top: 300px;
                padding-bottom: 200px;
                background-position: 0 80px, 0 0;
                background-size: cover;
                background-image: url(../images/reviews/icecream-bcg-desktop.png),
                    linear-gradient(to bottom, #84a178 80px, #f5f5f5 80px, #f5f5f5 100%);
        
                @media (min-resolurion: 2dppx) {
                    background-image: url(../images/reviews/icecream-bcg-desktop-2x.png);
                }
            }
}
.reviews__title--hidden {
    @extend %visually-hidden;
}
.reviews__container {
    max-width: $mobile;
    margin: 0 auto;
    padding-top: 210px;
    padding-bottom: 310px;


    @media screen and (min-width:$tablet) {
        max-width: $tablet;
        padding-top: 0;
        padding-bottom: 0;

    }
        @media screen and (min-width:$desktop) {
            max-width: $desktop;
        }
}

.reviews__slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.reviews__box {
    max-width: 280px;
    margin: 0 auto;
    @media screen and (min-width:$tablet) {
            max-width: 100%;
        }
}

.reviews__icon {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 32px;
    @media screen and (min-width:$tablet) {
        margin-top: 150px;
        margin-bottom: 28px;
    }
        @media screen and (min-width:$desktop) {
            margin-top: 290px;
            margin-bottom: 28px;
        }
}

.reviews__client {
    max-width: 280px;
    border-radius: 10px;
    background-color: #84a178;
    @include itemTypography(400, 12px, 2.55);
    padding: 40px 60px;
    text-align: center;

    @media screen and (max-width:$tablet) {background-image: url(../images/reviews/Group.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 65%;
    }
        @media screen and (min-width:$tablet) {
            max-width: 100%;
            border-radius: 24px;
            @include itemTypography(500, 14px, 1.86);
            padding: 28px 80px;
        }
                 @media screen and (min-width:$desktop) {
                     @include itemTypography(500, 16px, 1.86);
                     padding: 45px 109px;
                 }
}

.reviews__name {
    color: #000;
    @include itemTypography(500, 20px, 1.86);

    display: block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 20px;
    @media screen and (min-width:$desktop) {
        margin-bottom: 32px;
    }
}


.slick-dots {
    display: flex;
    justify-content: center;

    li {
        &:not(:last-child) {
            margin-right: 18px;
        }
    }
    button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    background-color: #d9d9d9;
    }
}
.slick-active {
    button {
        background-color: #84a178;
    }
}